DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mineib_i1_wellbroker
DB_USERNAME=mineib_i1_mineib
DB_PASSWORD=Rd14072003@./
DB_CHARSET=utf8mb4

JWT_SECRET=8mVQx7!LzP2@fNrY9$KdH1^sBcW5*JtEa6&GpRu3!XmN8@ZvQ4HyLk2%FsC7^Dn
JWT_ISSUER=wellbroker-api
JWT_EXPIRY=3600
JWT_REFRESH_EXPIRY=604800
JWT_ALGORITHM=HS256
